<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
 
  <title>OAuth tutorial</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <!-- <script src="main.js"></script> -->
</head>
<body>
   <nav>
     <ul>
      <li>
        <% if(user){ %>
       <a href ="/auth/logout">logout</a>
        <% } else {%>
       <a href ="auth/login">login</a>
       <% } %>
       <a href = "/">Homepage</a>
       <a href ="/profile">profile</a>
      </li>
     </ul>
   </nav>
   <header>
     <h1>Welcome to your profile, <%= user.username %></h1>
     
   </header>
   <main>
    <p>
      extra information about you.
    </p>
   </main>
</body>
</html> 